---
layout: default
title: Poetry
---

<h1>Poetry</h1>

<p class="page-intro">
This collection features the vast majority of my work in various stages of completeness. I have opted not to sanitize any of these poems. Pleae refer to the tags if there are subjects you wish to avoid.
</p>

<hr>
  
<div class="posts-list">
  {% assign sorted_poems = site.poetry | sort: 'date' | reverse %}
  {% for poem in sorted_poems %}
    <article class="post-preview">
      <a href="{{ poem.url | relative_url }}">
        <h2 class="post-title">{{ poem.title | strip_html }}</h2>
        {% if poem.subtitle %}
          <h3 class="post-subtitle">{{ poem.subtitle | strip_html }}</h3>
        {% endif %}
      </a>

      {% if poem.author %}
        <p class="post-meta">
          By <strong>{{ poem.author | strip_html }}</strong>
          •
          {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
          Posted on {{ poem.date | date: date_format }}
        </p>
      {% else %}
        <p class="post-meta">
          {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
          Posted on {{ poem.date | date: date_format }}
        </p>
      {% endif %}

      {% if site.feed_show_tags != false and poem.tags.size > 0 %}
      <div class="blog-tags">
        <span>Tags:</span>
        <!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
        <ul class="d-inline list-inline" role="list">
          {% for tag in poem.tags %}
          <li class="list-inline-item">
            <a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </article>

    <hr>
  {% endfor %}
</div>

